<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>My scratchboard page</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">My chatBot</a>
            </div>
          </div>
        </nav>

        <h1 align="center">Login</h1>
        <form align="center">
            <label for="uname_phone">Username or Phone number:</label><br>
            <input type="text" id="uname_phone" name="uname_phone"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" class="btn btn-success" value="Login">
        </form>
        <br><br><br><br>
        <h1 align="center">Register</h1>
        <form align="center">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>

            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <label for="phone">Phone number:</label><br>
            <input type="text" id="phone" name="phone"><br>

            <input type="submit" class="btn btn-success" value="Register">
        </form>
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <form action="." method="POST">
                    <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
                    <input type="submit" class="btn btn-success" value="Post comment">
                </form>
            </div>
        </div>

    </body>
</html>